<div class="dark-layout">
    <div class="delete-box">
        <img src="images/delete.png" alt="">
        <p class="bold">Menghapus Data Mobil</p>
        <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
        <div class="delete-select">
            <button class="tidak-button bold">Tidak</button>
            <button class="ya-button bold">Ya</button>

        </div>
    </div>
</div>