<div class="add-rbody-right">
    <div class="add-rbody1">
        <p class="add-bold">Car > </p>
        <p class="add-bold">List Car ></p>
        <p class="add-site-page">Update Car Information</p>
    </div>
    <div class="add-rbody2">
        <p class="add-bold">Update Car Information</p>
    </div>
    <div class="add-rbody3">
        <div class="add-form">
            <p>Nama*</p>
            <input type="text">
        </div>
        <div class="add-form">
            <p>Sewa Per Hari*</p>
            <input type="text">
        </div>
        <div class="add-form">
            <p>Ukuran*</p>
            <select name="" id="">
                <option value="small">small</option>
                <option value="medium">medium</option>
                <option value="large">large</option>
            </select>
        </div>
        <div class="add-form">
            <p>Foto*</p>
            <input type="input">
        </div>
    </div>
    <div class="add-rbody4">
        <button onclick="location.href='/cars'" class="add-cancel-button bold">Cancel</button>
        <button class="add-save-button bold">Save</button>
    </div>
</div>